*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Inter', sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
}
/* Grid */
.app{
  width:100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "sidebar editor";
  gap: 5px;
  background-color: lightgrey;
  padding: 5px;
}
.sidebar{
  grid-area: sidebar;
  height: fit-content;
  border-radius: 5px;
  
}
.editor{
  grid-area: editor;
  border-radius: 5px;
  overflow: hidden;
}
.sidebar-grid{
  height: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto;
  grid-template-areas: "gridtop"
                        "gridlist";
}

.sidebar-top{
  grid-area: gridtop;
  background: #0d1117;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
}
.sidebar-top h1{
  color: whitesmoke;

}
.sidebar-top .btn-add-note{
 background-color: gray ;
 border-radius: 5px;

 
}
.btn {
  height: 30px;
  width: 30px;
  border: none;
  color:whitesmoke;
  transition: transform 450ms,background-color 350ms 150ms;
  transform : scale(1);
}
.sidebar-top .btn-add-note:hover{
  transform: scale(1.1);
  background-color:dodgerblue ;
}
.note-item-container{
  list-style: none;
  grid-area: gridlist;
  background: #0d1117;
  height: 560px;
  border-radius: 5px;
  padding-top: 10px;
  height: 100%;
  overflow-y: auto;

}
.note-item{
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding:15px;
  background-color:rgba(0, 217, 255, 0.5);
  margin: 2px 0px;
  position: relative;
  transition: background-color 350ms;
  height: 52px;
}
.note-item:hover{
  background-color: rgba(0, 217, 255, 0.7);
} 
.note-item::before{
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background-color: darkorange;
  position: absolute;
  display: none;
  transition: all 450ms;
}
.note-item .note-title{
  color: whitesmoke;
  font-weight: 500;
  text-transform: capitalize;
 
  line-height: 17px;
}

.active-note::before {
 display: block;
}
.btn-item{
 color: red;
 font-weight: 500;
 display: none;
 cursor: pointer;
}
.show-btn{
  display: block !important;
}
.delete-icon{
  width: 17px;
  height: auto;
  color: red;
}
.wmde-markdown-var{
  height: 100vh !important;
}
/* confirm box */
.custom-ui{
  text-align: center;
    width: 500px;
    padding: 40px;
    background: #28bae6;
    box-shadow: 0 20px 75px rgb(0 0 0 / 23%);
    color: #fff;
}
.custom-ui > button {
  width: 160px;
  padding: 10px;
  border: 1px solid #fff;
  margin: 10px;
  cursor: pointer;
  background: none;
  color: #fff;
  font-size: 14px;
}
.custom-ui> p{
  margin: 13px 0;
}

